<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/akilg/IdeaProjects/selenium-java-yt/src/test/java/GuruTestSuite"><classes><class name="GuruTestSuite.GuruCreateAccounts"><methods><include name="FirstTest"/></methods></class><class name="GuruTestSuite.GuruCreateInsuranceAccounts"><methods><include name="FirstTest"/></methods></class><class name="GuruTestSuite.GuruDayOneTest"><methods><include name="firstTest"/></methods></class><class name="GuruTestSuite.GuruDayThreeTest"><methods><include name="firstTest"/></methods></class><class name="GuruTestSuite.GuruDayTwoTest"><methods><include name="firstTest"/></methods></class></classes></test></suite>